.window {
    display: flex;
    position: absolute;
    z-index: 2;
    width: calc(100% - 4rem);
    height: 100%;
    background-color: white;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: #234f69;
    border-radius: 10px;
    .error {
        color: red;
    }

    .control {
        height: 5rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .close{
            margin: 1rem;
            border-radius: 5px;
            border: none;
            background-color: rgb(173, 4, 4);
            width: 5rem;
            height: 3rem;
        }
        .addversebtn {
            margin: 1rem;
            background-color: rgb(34, 48, 58);
            box-shadow: 0 0 .5rem rgb(60, 83, 105);
            border: none;
            border-radius: 10px;
            width: 10rem;
            height: 3rem;
            cursor: pointer;
        }
    }
    .addVersion {
        
        color: black;
        display: flex;
        width: 15rem;
        height: 20rem;
        border: 1px solid rgb(53, 53, 53);
        margin: 1rem 2rem;
        
    }
}